@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Export Menu</h2>
    <a href="/Home/ExportPdf">Download PDF</a>
    <a href="/Home/ExportExcel">Download Excel</a>
</div>
